.address {
  align-items: center;
  column-gap: 16px;
  display: flex;
}

.asset {
  border-radius: 16px;
  height: 80px;
  object-fit: cover;
  width: 80px;
}

.assetLink {
  position: relative;
}

.assets {
  column-gap: 16px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  row-gap: 16px;
}

.container {
  border-top: 1px solid var(--color-tertiary);
  padding-bottom: 24px;
  padding-top: 24px;
  position: relative;
  width: 100%;
}

.container:first-child {
  border-top: none;
}

.expanded {
  margin-left: 44px;
  margin-top: 8px;
}

.numTransferred {
  bottom: 10%;
  color: white;
  filter: drop-shadow(0 0 5px black);
  left: 10%;
  position: absolute;
  text-decoration: none;
}

.openSeaLink {
  text-decoration: none;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rowLeft {
  align-items: center;
  column-gap: 24px;
  display: flex;
  width: 100%;
}

.rowRight {
  align-items: center;
  column-gap: 16px;
  display: flex;
  flex-shrink: 0;
}

@media only screen and (max-width: 740px) {
  .address {
    column-gap: 8px;
  }

  .assets {
    margin-left: 28px;
  }

  .rowLeft {
    column-gap: 12px;
  }
}
