.address {
  align-items: center;
  column-gap: 16px;
  display: flex;
}

.asset {
  border-radius: 16px;
  height: 80px;
  object-fit: cover;
  width: 80px;
}

.assets {
  column-gap: 16px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.container {
  border-top: 1px solid var(--color-tertiary);
  padding-bottom: 24px;
  padding-top: 24px;
  position: relative;
  width: 100%;
}

.container:first-child {
  border-top: none;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rowLeft {
  align-items: center;
  column-gap: 24px;
  display: flex;
  width: 100%;
}

.rowRight {
  align-items: center;
  column-gap: 16px;
  display: flex;
  flex-shrink: 0;
}
