.buyersListContainer {
  margin-top: 60px;
  max-width: 550px;
  width: 100%;
}

.cloud {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.containerInner {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 54px;
}

.inputContainer {
  margin-top: 16px;
  max-width: 100%;
  width: 500px;
}

.logoAndCloud {
  position: relative;
}

.subtitle {
  margin-top: 16px;
}

.title {
  margin-top: 48px;
  max-width: 592px;
}

.walletAddressTitle {
  margin-top: 40px;
}

@media only screen and (max-width: 740px) {
  .buyersListContainer {
    margin-top: 24px;
  }

  .title {
    margin-top: 24px;
  }
}
