.cloudContainer {
  width: 100%;
}

.container {
  position: relative;
}

.link {
  color: inherit;
  text-decoration: underline;
}

.link:hover {
  cursor: pointer;
}

.pigeonLeftContainer {
  bottom: 100px;
  left: 0px;
  position: absolute;
  width: 354px;
}

.pigeonRightContainer {
  bottom: 100px;
  position: absolute;
  right: 0px;
  width: 354px;
}

.text {
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
}
