.backgroundColorBackgroundOverlay {
  background-color: var(--color-backgroundOverlay);
}

.backgroundColorLightBlue {
  background-color: var(--color-lightBlue);
}

.backgroundColorPrimary {
  background-color: var(--color-primary);
}

.backgroundColorSecondary {
  background-color: var(--color-secondary);
}

.backgroundColorTertiary {
  background-color: var(--color-tertiary);
}

